*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
   
    
}

body img{
    
    width: 100%;
    height: 1000px;
    object-fit: contain;
}


body img #c18{
    height: 800px;
    object-fit: contain;
}

.button{
    width: 100%;
    height: 60px;
    background-color: #1893B5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    }

    .btn{
        background: white;
        text-decoration: none;
    font-weight: bold;

    justify-content: space-between;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #080808;
    color: #080808;
    }

    .btn:hover{
        background-color: #080808;
        color: #fff;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
        transition: all 300ms ease;
    }
    