@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
   
}
html{
    scroll-behavior: smooth;
}
 body{
    background: #000000;
  }

  .header{
    height: 100vh;
    width: 100%;
   
    
  }
.container{
    padding: 10px 10%;
}
.nav1{
position: fixed;
top: 0; left: 0; right: 0;
background: #000000;

padding: 0px 7%;
display: flex;
align-items: center;
justify-content: space-between;
z-index: 1000;


}
.nav1 .logo{
    font-weight: bolder;
    font-size: 40px;
    color: transparent;
    background: linear-gradient(to left, hotpink, purple);
    background-clip: text;
    -webkit-background-clip: text;
    text-decoration: none;
    margin-left: 40px;
    font-family: 'Libre Bodoni', serif;
font-style: italic;
    
}
.nav1 .logo span{
    color: purple;
    
   
    font-family: 'Urbanist', sans-serif;
}

.nav1 .navbar ul{
    list-style: none;
    
}
.nav1 .navbar ul li{
    position: relative;
    float: left;
    
}
.nav1 .navbar ul li a{
font-size: 20px;
font-weight: bold;
padding: 20px;
color: #fff;
display: block;
text-decoration: none;
}
.nav1 .navbar ul li a:hover{
    background: linear-gradient(to left, hotpink, lightpink);
    color: #075415;
}
.nav1 .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: linear-gradient(to left, hotpink, lightpink);
    
    display: none;
    
}
.nav1 .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.1);
    
    
   
}
#u{
    color: #075415;
}
#p{
    color: #075415;  
}
.nav1 .navbar ul li:focus-within > ul,
.nav1 .navbar ul li:hover > ul{
    display: initial;
}


.cardcontainer{
    
    margin-top: 30px;
    height: 600px;
        width:100%;
   
    
    padding: 10px;
  

}

.card{
  margin-top: 40px;
    width: 350px;
    height: 510px;
  margin-left: 35%;
    
    perspective: 1000px;
}

.card-inner{
    width: 100%;
    height: 100%;
   
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front, .back{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    backface-visibility: hidden;
 
}

.front{
    background: #000000;
    
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: hotpink 1px solid;
  

}
.front img{
    margin-left: 100px;
    margin-top: 500px;
height: 290px;
width: 400px;
}
.front h2{
    color: transparent;
    letter-spacing: 3px;
    background: linear-gradient(to left, hotpink, purple);
    background-clip: text;
    -webkit-background-clip: text;
}

.front p{
   
    color: #ccc;
    font-size: 13px;
    
  
}

.front button{
    width: 120px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 50px;
    padding: 8px 20px;
    cursor: pointer;
    margin-top: 20px;
    color: #fff;
    
    
}

.back{
    background: #fff;
    color: #333;
    padding: 20px 40px;
    transform: rotateY(180deg);
}

.back h1{
    font-size: 30px;
    line-height: 55px;
    margin-bottom: 10px;
}

.back h1 span{
   font-weight: 400;
}

.back p{
    font-size: 14px;
}

.back p span{
    font-weight: 600;
}

.back img{
    width: 120px;
}

.row{
    display: flex;
    align-items: center;
    margin-top: 30px;

}

.col{
    flex: 1;
   text-align: center;
   color: #555;
   font-size: 12px;
   position: relative;
}

.col h2{
    font-size: 20px;
}

.col::after{
    content: '';
    width: 1.5px;
    height: 20px;
    background: #7800ad;
    position: absolute;
    top: 5px;
    right: 0;
}

.col:last-child::after{
   display: none;
}

.col p{
    margin-top: 5px;
}

.col img{
    width: 30px;
    height: 30px;
}
.back button{
    background: #7800ad;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 8px 25px;
    border-radius: 30px;
    font-size: 14px;
    margin-right: 15px;
    box-shadow: 0 8px 10px rgba(120, 0, 173, 0.3);
}

.back a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;

}

.back a img{
    width: 50%;
}

.card:hover .card-inner{
    transform: rotateY(180deg);
}



/* 
.header-text{
    margin: 20%;
    font-size: 30px;
    color: #003B4A;
    letter-spacing: 3px;
   
    
} */
/* .header-text p{
    font-weight: bold;
    letter-spacing: 3px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    letter-spacing: 3px;
    
    
}
.header-text h1 span{
    color: transparent;
    letter-spacing: 3px;
    background: linear-gradient(to left, hotpink, purple);
    background-clip: text;
    -webkit-background-clip: text;
} */

#about{
    padding: 80px 0;
    color: #080808;
    background:#d8d2e4;
    

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
    
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    
}
.about-col-2{
    flex-basis: 60%;
    letter-spacing: 2px;
    
}
.about-col-2 p{
    text-align: justify;
}
.sub-title{
    font-size: 30px;
    font-weight: 600;
    
    padding-bottom: 10px;
}
.tab-titles{
  display: flex;
    margin: 20px 0 40px;
    
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    color: #715798;
    
}
.tab-links:hover{
    color: #ff69b4;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff69b4;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;

}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    text-align: justify;
}
.tab-contents ul li span{
    color: #ff69b4;
    font-size: 14px;
    font-weight: 600;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}


.services .sub-title{
    padding-left: 80px;
    color: #080808;
}
#uiuxp {
    color: #fff;
    
}


.div-comfort{
    
    height: 600px;
    width: 100%;
    background-color: rgb(20, 130, 194);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
  
}
.comfortcol1{
    flex-basis: 35%;
}
.comfortcol1 img{
    width: 100%;
  
    border-radius: 15px; 
}

.comfortcol2{
    flex-basis: 60%;
    letter-spacing: 2px;
    
}
.comfortcol2 h1{
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 20px;
}
.comfortcol2 p{
    padding-left: 100px;
        padding-bottom: 50px;
}
.comfortcol2 a{
    margin-left: 100px;
   
    flex-direction: row;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    
}

a.buttonuxc{
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #fff;

}

a.buttonuxc:hover{
    background-color: #fff;
    color: #080808;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
    transition: all 300ms ease;
}




.div-roomar{
    height: 600px;
    width: 100%;
    background-color: #dee2fc;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
  
}
.roomcol1{
    flex-basis: 35%;
    padding-top: 20px;
}
.roomcol1 img{
    width: 100%;
   
    border-radius: 15px; 
}

.roomcol2{
    flex-basis: 60%;
    color: #080808;
    letter-spacing: 2px;
}
.roomcol2 h1{
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 20px;

}
.roomcol2 p{
    padding-left: 100px;
        padding-bottom: 50px;
}
.roomcol2 a{
    margin-left: 100px;
   
    flex-direction: row;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
.div-airindia{
    height: 600px;
    width: 100%;
    background-color: #ffbaba;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.aircol1{
    flex-basis: 35%;
}
.aircol1 img{
    width: 100%;
   
    border-radius: 15px; 
}

.aircol2{
    flex-basis: 60%;
    color: #080808;
    letter-spacing: 2px;
    
   
}
.aircol2 h1{
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 20px;
}
.aircol2 p{
    padding-left: 100px;
        padding-bottom: 50px;
}



a.buttonuxa{
    margin-left: 100px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
   
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #080808;
    color: #080808;

}

a.buttonuxa:hover{
    background-color: #080808;
    color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
    transition: all 300ms ease;
}

a.buttonuxap{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin-left: 250px;
    margin-top: 20px;

    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #080808;
    color: #080808;
    
}
a.buttonuxap:hover{
    background-color: #080808;
    color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
    transition: all 300ms ease;
}






.div-eatfoo{
    height: 600px;
    width: 100%;
    background-color: #dff5ce;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.eatcol1{
    flex-basis: 35%;
}
.eatcol1 img{
    width: 100%;
   
    border-radius: 15px; 
}

.eatcol2{
    flex-basis: 60%;
    color: #080808;
    letter-spacing: 2px;
}
.eatcol2 h1{
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 20px;
}
.eatcol2 p{
    padding-left: 100px;
        padding-bottom: 50px;
}
.eatcol2 a{
    margin-left: 100px;
   
    flex-direction: row;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}


.div-plant{
    height: 600px;
    width: 100%;
    background-color: #c8b88a;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.plantcol1{
    flex-basis: 35%;
    
}
.plantcol1 img{
   
    width: 100%;
   
    border-radius: 15px; 
    padding-left: 60px;
}

.plantcol2{
    flex-basis: 60%;
    color: #080808;
    letter-spacing: 2px;
}
.plantcol2 h1{
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 20px;
}
.plantcol2 p{
    padding-left: 100px;
        padding-bottom: 50px;
}
.plantcol2 a{
    margin-left: 100px;
   
    flex-direction: row;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}



a.buttonux{
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #080808;
    color: #080808;

}

a.buttonux:hover{
    background-color: #080808;
    color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
    transition: all 300ms ease;
}



#portfolio{
    padding: 50px 0;
    background: #fdf2f0;
    
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    margin-bottom: 50px;

}
#pp{
    color: #080808;
}
.work-list div{
   
    background: #ffffff;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    color: #080808;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
    border: 1px solid #ff7a69;
    letter-spacing: 2px;
}
.work-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.work-list div p{
    text-align: justify;
}
.work-list div a{
    color: #080808;
    font-size: 12px;
    display: inline-block;
    margin-top: 20px;
    
    }
.work-list div:hover{
    background: linear-gradient(123.63deg, #ff7a69, #f2b6b9);
    
    transform: scale(1.1);
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #333;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    
}


#contact{
    background-color: #BDE0FF;
}

#c{
    color: #080808;
}
.contact-left{
flex-basis: 30%;
letter-spacing: 2px;
}
.contact-right{
    flex-basis: 60%;
   
    }

    .contact-left p{
        margin-top: 30px;
        color: #080808;
        }
        .contact-left p i{
           color: #1893B5;
           margin-right: 15px;
           font-size: 25px;
            }
            .social-icons{
                margin-top: 30px;
            }
            .social-icons a{
                text-decoration: none;
                font-size: 30px;
                margin-right: 15px;
                color: #1893B5;
                display: inline-block;
                transition: transform 0.5s;
            }
            .social-icons a:hover{
                color: #1893B5;
                transform: translateY(-5px);
            }
            .btn.btn2{
                display: inline-block;
                background: transparent;
                border: 1px solid #333;
                color: #080808;
            }

           .btn2:hover{
            color: white;
            background-color: #1893B5;
            box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
            transition: all 300ms ease;
            border: none;
           }

            .contact-right form{
                width: 100%;
            }
            form input, form textarea{
                width: 100%;
                border: 0;
                outline: none;
                background: #E1EDF8;
                padding: 15px;
                margin: 15px 0;
                color: #333;
                font-size: 18px;
                border-radius: 6px;
                letter-spacing: 2px;
            }
            form .btn2{
                padding: 14px 60px;
                font-size: 18px;
                margin-top: 20px;
                cursor: pointer;
                letter-spacing: 2px;
            }
            .copyright{
                width: 100%;
                text-align: center;
                padding: 25px 0;
                background: #262626;
                font-weight: 300;
                margin-top: 20px;
            }
            .copyright p span{
                color: #fff;
            }
            .copyright i{
                color: #ff69b4;
            }
            .copyright a{
                color: #fff;
                font-size: 10px;
            }

nav .fa-solid{
    display: none;
}




            @media only screen and (max-width:600px) {

                body, html {
                    width: 100%;
                    overflow-x: hidden;
                  }
                  
                .header{
                    height: 100vh;
                    width: 100%;
                    box-sizing: border-box;
                 
                  }

                nav .fa-solid{
                    margin-right: 20px;
                    display: block;
                    font-size: 20px;
                    color: purple;
                }
                nav ul{
                    background: lightpink;
                    position: fixed;
                    top: 0;
                    right: 0;
                    width: 200px;
                    height: 100vh;
                    padding-top: 50px;
                    z-index: 2;
                    transition: right 0.5s;
                }
                nav ul li{
                    display: block;
                    margin: 25px;
                }
                nav ul .fa-solid{
                    position: absolute;
                    top: 25px;
                    left: 25px;
                    cursor: pointer;
                }

                .nav1 .logo{
                    font-weight: bolder;
                    font-size: 30px;
                    color: transparent;
                    background: linear-gradient(to left, hotpink, purple);
                    background-clip: text;
                    -webkit-background-clip: text;
                    text-decoration: none;
                    margin-left: 40px;
                    font-family: 'Libre Bodoni', serif;
                font-style: italic;
                    
                }
                .nav1 .logo span{
                    color: purple;
                    
                   
                    font-family: 'Urbanist', sans-serif;
                }

                
.cardcontainer{
  
    margin-top: 10px;
    margin-left: 1px;
    height: 600px;
        width:100%;
   
    
    padding: 10px;
  

}

.card{
  margin-top: 60px;
    width: 350px;
    height: 450px;
  margin-left: 5%;
    
    perspective: 1000px;
}

.card-inner{
    width: 100%;
    height: 100%;
   
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front, .back{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    backface-visibility: hidden;
 
}

.front{
    background: #000000;
    
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: hotpink 1px solid;
  

}
.front img{
    margin-left: 100px;
    margin-top: 500px;
height: 200px;
width: 300px;
}
.front h2{
    color: transparent;
    letter-spacing: 3px;
    background: linear-gradient(to left, hotpink, purple);
    background-clip: text;
    -webkit-background-clip: text;
}

.front p{
   
    color: #ccc;
    font-size: 14px;
    text-align: justify;
    
  
}

.front button{
    width: 120px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 50px;
    padding: 8px 20px;
    cursor: pointer;
    margin-top: 20px;
    color: #fff;
    
    
}

.back{
    background: #fff;
    color: #333;
    padding: 20px 40px;
    transform: rotateY(180deg);
}

.back h1{
    font-size: 30px;
    line-height: 55px;
    margin-bottom: 10px;
}

.back h1 span{
   font-weight: 400;
}

.back p{
    font-size: 14px;
}

.back p span{
    font-weight: 600;
}

.back img{
    width: 120px;
}

.row{
    display: flex;
    align-items: center;
    margin-top: 30px;

}

.col{
    flex: 1;
   text-align: center;
   color: #555;
   font-size: 12px;
   position: relative;
}

.col h2{
    font-size: 20px;
}

.col::after{
    content: '';
    width: 1.5px;
    height: 20px;
    background: #7800ad;
    position: absolute;
    top: 5px;
    right: 0;
}

.col:last-child::after{
   display: none;
}

.col p{
    margin-top: 5px;
}

.col img{
    width: 30px;
    height: 30px;
}
.back button{
    background: #7800ad;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 8px 25px;
    border-radius: 30px;
    font-size: 14px;
    margin-right: 15px;
    box-shadow: 0 8px 10px rgba(120, 0, 173, 0.3);
}

.back a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;

}

.back a img{
    width: 50%;
}

.card:hover .card-inner{
    transform: rotateY(180deg);
}
.about-col-1, .about-col-2{
    flex-basis: 100%;
}
.about-col-1{
    margin-bottom: 30px;
}
.about-col-2{
    font-size: 14px;
}
.tab-links{
    font-size: 16px;
    margin-right: 20px;
}
.contact-left, .contact-right{
    flex-basis: 100%;
 }
 .copyright{
     font-size: 14px;
 }
                .comfortcol1{

    height: 600px;
    width: 500px;
    
    

}
.comfortcol1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.div-comfort{
    height: 500px;
}

.comfortcol2 {
 
    margin-top: -200px;
       /* background-color: #075415; */
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   
   
   }

   .comfortcol2 a {
    
    margin-top: 15px;
    margin-right: 20px;
           
}

.comfortcol2 h1{
    margin-right: 20px;
   
}

.comfortcol2 p{
    margin-right: 20px;
    margin-bottom: -40px;
}  
}
#msg{
 color: #61b752;
 margin-top: -40px;
 display: block;
} 

           
